<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" /-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ExampleActivities.Peripheral"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ExampleActivities.BLEScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ExampleActivities.BluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".WarningActivity"
            android:label="주변 작업자"
            android:exported="true"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="앵커 세팅"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ExampleActivities.TCPActivity"
            android:exported="false" />
        <activity
            android:name=".ExampleActivities.GetHttpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter!-->
        </activity>
        <activity android:name=".ExampleActivities.DeviceListActivity" />
        <activity
            android:name=".ExampleActivities.GattServerActivity"
            android:exported="false" />

        <service
            android:name=".Services.UartService"
            android:enabled="true" />
    </application>

</manifest>